html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(64, 224, 208), dodgerblue);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner {
  height: 25vh;
  width: 100vw;
}
#nav {
  float: none;
  position: fixed;
  width: 100%;
  top: 30vh;
  left: 50vw;
  transform: translate(-46vw, -2vh);
  overflow: hidden;
}
#nav a {
  display: inline-block;
  text-align: center;
  border-radius: 1vw 3vh;
  padding: 1vw 1vw;
  width: 10%;
  background-image: linear-gradient(
    to bottom right,
    rgb(64, 224, 208),
    rgb(30, 144, 255)
  );
  color: white;
  border: solid 1px white;
  align-items: center;
  font-size: 2vw;
  text-decoration: none;
}

#nav a:hover {
  background-image: linear-gradient(to top, white, blue);
}
#nav a.active {
  background-image: linear-gradient(to top left, rgb(30, 144, 255), blue);
}
#inform {
  display: inline;
  position: fixed;
  top: 37vh;
  left: 50vw;
  transform: translate(-32vw);
  text-align: center;
  border-radius: 1vw 3vh;
  padding: 0vw 0vw;
  width: 72.5vw;
  background-image: linear-gradient(to bottom, rgb(30, 144, 255), blue);
  color: white;
  border: solid 1px white;
  align-items: center;
  font-size: 2vw;
  text-decoration: none;
}
#bookingform {
  position: fixed;
  top: 50vh;
  left: 2vw;
  padding: 2px;
  width: 30vw;
  height: 40vh;
  border-radius: 8px;
  background-image: url("../images/text.jpg");
  cursor: pointer;
}
#subject {
  height: 45vh;
}
#button {
  display: grid;
  position: fixed;
  height: 6vh;
  width: 8vw;
  bottom: 7vh;
  left: 24vw;
  border-radius: 8px;
}
#reset {
  display: grid;
  position: fixed;
  height: 6vh;
  width: 8vw;
  bottom: 15vh;
  left: 24vw;
  border-radius: 8px;
}

#fname {
  background-color: whitesmoke;
  width: 100%;
}
#email {
  background-color: whitesmoke;
  width: 100%;
}
input[type="text"],
select {
  color: dodgerblue;
  background-color: whitesmoke;
  width: 100%; /* Full width */
  padding: 1vh; /* Some padding */
  border: 1px solid dodgerblue; /* Purple border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-left: 2px; /* Add a left margin */
  margin-bottom: 2px; /* Bottom margin */
}
input[type="text"],
textarea {
  background-color: whitesmoke;
  color: dodgerblue;
  width: 70%; /* Full width */
  padding: 1vh; /* Some padding */
  border: 1px solid dodgerblue; /* Purple border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-left: 2px; /* Add a left margin */
  margin-bottom: 2px; /* Bottom margin */
}

input[type="submit"] {
  background-image: linear-gradient(
    to bottom right,
    rgb(64, 224, 208),
    rgb(30, 144, 255)
  );
  padding: 12px 20px;
  border: 2px;
  border-radius: 8px;
  color: white;
}
input[type="submit"]:hover {
  background-image: linear-gradient(to top, white, blue);
}
input[type="reset"] {
  background-image: linear-gradient(
    to bottom right,
    rgb(64, 224, 208),
    rgb(30, 144, 255)
  );
  padding: 12px 20px;
  border: 2px;
  border-radius: 8px;
  color: white;
}
input[type="reset"]:hover {
  background-image: linear-gradient(to top, white, blue);
}

#intro {
  color: white;
  font-style: tahoma;
  font-size: 3vh;
  text-shadow: 2px 2px dodgerblue;
  text-align: center;
}
#eventpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98vw;
  height: 70vh;
  left: 1vw;
  top: 38vh;
  border: 2px solid;
  color: white;
  border-radius: 8px;
}

.logo {
  width: 7.5vw;
  height: 10vh;
  position: fixed;
  bottom: 7.5vh;
  right: 13vw;
}

.nvidia {
  width: 7.5vw;
  height: 10vh;
  position: fixed;
  top: 20vh;
  left: 1vw;
}

.amd {
  width: 7.5vw;
  height: 10vh;
  position: fixed;
  top: 40vh;
  left: 1vw;
}

.intel {
  width: 7.5vw;
  height: 10vh;
  position: fixed;
  top: 30vh;
  left: 1vw;
}

/*position audio player */

.music {
  display: inline-block;
  position: absolute;
  right: 1vw;
  bottom: 7.5vh;
}

/* audio buttons */
#audioButton1 {
  background-image: url("../assets/buttons/play.png");
  background-size: cover;

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 100%;
  width: 5vw;
  height: 10vh;
}
#audioButton2 {
  background-image: url("../assets/buttons/pause.png");
  background-size: cover;

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 100%;
  width: 5vw;
  height: 10vh;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4vh;
  background-image: linear-gradient(dodgerblue, rgb(64, 224, 208));
  opacity: 50%;
  color: white;
  font-size: 2vh;
  overflow: hidden;
}

#socialmedia {
  position: absolute;
  width: 100vw;
  top: 45vh;
  left: 50vw;
  transform: translate(-46vw, -2vh);
  overflow: hidden;
}

#socialmedia a {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding: 0vw 0vw;
  width: 3vw;
  height: 6vh;
  color: white;
  border: solid 1px white;
  align-items: center;
  font-size: 1vw;
  text-decoration: none;
  overflow: hidden;
}

#socialmedia a:hover {
  background-image: linear-gradient(to top, gold, silver);
  opacity: 50%;
}

#facebook {
  text-decoration: none;
  background-image: url("../socialmedia/facebook.jpg");
  font-size: 5vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  overflow: hidden;
}

#instagram {
  text-decoration: none;
  background-image: url("../socialmedia/instagram.jpg");
  background-repeat: no-repeat;
  font-size: 5vh;
  background-size: cover;
  color: whitesmoke;
  overflow: hidden;
}

#twitter {
  text-decoration: none;
  background-image: url("../socialmedia/twitter.jpg");
  background-repeat: no-repeat;
  font-size: 5vh;
  background-size: cover;
  color: whitesmoke;
  overflow: hidden;
}

#linkedin {
  text-decoration: none;
  background-image: url("../socialmedia/linked in.jpg");
  background-repeat: no-repeat;
  font-size: 5vh;
  background-size: cover;
  color: whitesmoke;
  overflow: hidden;
}

#ytube {
  text-decoration: none;
  background-image: url("../socialmedia/youtube.jpg");
  background-repeat: no-repeat;
  font-size: 5vh;
  background-size: cover;
  color: whitesmoke;
}
